USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 11/06/2022 06:55:45 ******/
CREATE DATABASE [QLKS] ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER22\MSSQL\DATA\QLKS.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER22\MSSQL\DATA\QLKS_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maphong] [nvarchar](20) NOT NULL,
	[maloaiphong] [nvarchar](20) NULL,
	[dientich] [nvarchar](20) NULL,
	[tang] [nvarchar](50) NULL,
	[trangthai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATPHONG](
	[maphieudatphong] [nvarchar](20) NOT NULL,
	[makhachhang] [nvarchar](20) NULL,
	[maphong] [nvarchar](20) NULL,
	[ngaythue] [date] NULL,
	[ngaytra] [date] NULL,
	[songayo] [int] NULL,
	[datcoc] [int] NULL,
	[tonggiatrihopdong] [int] NULL,
	[conlai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maphieudatphong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[maloaiphong] [nvarchar](20) NOT NULL,
	[tenloaiphong] [nvarchar](50) NULL,
	[gialoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maloaiphong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[makhachhang] [nvarchar](20) NOT NULL,
	[tenkhachhang] [nvarchar](50) NULL,
	[socmnd] [int] NULL,
	[ngaysinh] [date] NULL,
	[tuoi] [int] NULL,
	[gioitinh] [nvarchar](10) NULL,
	[sodienthoai] [int] NULL,
	[diachi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[mahoadon] [nvarchar](20) NOT NULL,
	[maphieudatphong] [nvarchar](20) NULL,
	[tonghoadon] [int] NULL,
	[ngaylaphoadon] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 11/06/2022 06:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[taikhoan] [nvarchar](20) NOT NULL,
	[matkhau] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[taikhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

select * from [dbo].[DANGNHAP]
select * from [dbo].[HOADON]
select * from [dbo].[KHACHHANG]
select * from [dbo].[LOAIPHONG]
select * from [dbo].[PHIEUDATPHONG]
select * from [dbo].[PHONG]
